.header{
    display: flex;
    flex-direction:row;
    background-color:blue;
    justify-content: space-between;
    padding:15px;
    color:white;
    text-align: center;

}

.parrafo{
    color:blue;
    background-color:yellow;
}
.contenedor{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:grey;
    background: rgba(64, 68, 68, 0.3);
    color:white;
    border: 3px solid #ccc;
}

.ficha{
margin: 15px;
border-style:solid;
background-color:grey;
border-radius:20px;
background: rgba(64, 68, 68, 0.3);
color: white;
}
.ficha1{
    margin:15px;
    border-style:solid;
    background-color:lightblue;
    border-radius:20px;
    background: rgba(33, 230, 230, 0.3);
    color: white;
}
.fotografia {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 20px;
        left: 20px;
        border-radius: 50%;
    }

.columna{
    color:blue;
    border-radius:25px;
    background-color:yellow;
    border-style:solid;
}
.file{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
 .texto{
    color:white;
 }
 body{
    background-image:url(IUE.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
  
}
.alinear{
text-align:center;
}
