

header{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:grey;
    background: rgba(64, 68, 68, 0.3);
    color:white;
    border: 3px solid #ccc;
    text-align: center;
}

header p {
    margin: 0.5rem;
}

.ficha{
margin: 15px;
border-style:solid;
background-color:grey;
border-radius:20px;
background: rgba(64, 68, 68, 0.3);
color: white;
}
.ficha1{
    margin:15px;
    border-style:solid;
    background-color:lightblue;
    border-radius:20px;
    background: rgba(33, 230, 230, 0.3);
    color: white;
}

.fotografia {
    width: 200px;
    height: 180px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}


 .texto{
    color:rgb(255, 255, 255);
 }
 body{
    background-image:url(img-body-prt.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
  
}

.alinear{
text-align:center;
}



@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }
    
    section {
        margin: 10px;
    }
}