body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    
}

header p {
    margin: 0.5rem;
}


section {
    padding: 2rem;
}


.trabajo {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
    background-color: white;
}


.educacion {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
    background-color: white;
}


ul {
    list-style: disc;
    margin-left: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
  
}

.fotografia{
    width: 250px;
    height: 250px;
    border-radius:350px;
  
   
}
